{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="admin-dashboard">
  <div class="dashboard-header">
    <div class="login-logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Online Education logo">
    </div>
    <h2>Admin Dashboard</h2>
  </div>

  <div class="dashboard-section">
    <h3>All Users</h3>
    <div class="table-container">
      <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.user_id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </table>

  <hr>
    <h3>Instructors</h3>
  <table border="1" cellpadding="5">
    <tr>
      <th>InstructorID</th>
      <th>Instructor Name</th>
      <th>Expertise</th>
      <th>Contact</th>
    </tr>
    {% for instructor in instructors %}
    <tr>
      <td>{{ instructor.instructor_id }}</td>
      <td>{{ instructor.instructor_name }}</td>
      <td>{{ instructor.expertise }}</td>
      <td>{{ instructor.contact }}</td>
    </tr>
    {% endfor %}
  </table>
    <hr>

  <h3>All Courses</h3>
  <table border="1" cellpadding="5">
    <tr>
      <th>ID</th>
      <th>Course Name</th>
      <th>Instructor</th>
      <th>Duration</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.course_id }}</td>
      <td>{{ course.course_name }}</td>
      <td>{{ course.instructor.instructor_name }}</td>
      <td>{{ course.duration }}</td>
    </tr>
    {% endfor %}
  </table>

  <hr>

  <h3>All Enrollments</h3>
  <table border="1" cellpadding="5">
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Course</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
    {% for e in enrollments %}
    <tr>
      <td>{{ e.enrollment_id }}</td>
      <td>{{ e.user.username }}</td>
      <td>{{ e.course.course_name }}</td>
      <td>{{ e.status }}</td>
      <td>{{ e.enrollment_date }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
